body {
    background: #e0e0e0;
}

header {
    min-height: 100px;
    width: 100%;
    background: #ebebeb;
}

footer {
    min-height: 100px;
    width: 100%;
    background: #ebebeb;
}

.title {
    border-bottom: 1px solid #e0e0e0;
}

.card {
    background: #ebebeb;
    margin: 1px;
}
